.banner {
  width: 100%;
  height: 70vh;             
  background: linear-gradient(rgba(3, 1, 7, 0.6), rgba(7, 1, 62, 0.6)), url("/assets/banner-image.png");
  background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat;
}
